/* General */
* {
font-family: 'Work Sans', sans-serif;
}

body {
    background: linear-gradient(to bottom, #FEDCD2 0%, #DF744A 100%);

}
h1 {
    color: black;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
}

hr {
    border-width: 5px;
}

/* nav bar*/
.navbar-brand {
    color: black;
    background-color: #DCD239;
    padding: 15px;
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;

}

.navbar-nav {
    margin-right: 20px;
}

.navbar {
    padding: 0px;
    background-color: white;
}

.nav-item {
    border-right: 2px solid #8FD8D2;
}

.nav-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

/* container */
.container {
    background-color:white;
    margin-top: 30px;
    width: 70%;
    float: left;
    margin-left: 30px;
}


/* about me page */
hr {
    border-width: 5px;
    background-color: #8FD8D2;
}
p {
    color: black;
}

.float-left {
    margin-right: 20px;
    object-fit: cover;
}

/* portfolio page */

.text-block {
    position: relative;
    background-color: #DCD239;
    text-align: center;
    bottom: 50px;
    padding: 10px;
  }

  a {
    font-family: 'Work Sans', sans-serif;;
    color:black;
    font-size: 20px;
  }

  a:hover {
      color: #8FD8D2;
  }

  .port-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
  }

  /* contact page */
  .btn-primary 
  {
      background-color: #DCD239;
      border-radius: 0px;
      margin-bottom: 20px;
      border-color: #8FD8D2;
  }

  .btn-primary:hover {
      background-color:#8FD8D2;
      border-color: #8FD8D2;
  }

  label {
    color: gray;
    
}
.form-control {
    border-radius: 0px; 
  }

/* footer */

.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #8FD8D2;
   text-align: center;
    background-color: white;
    border-top: 4px solid #DCD239;
   padding: 20px;
   }

h2 {
    font-size: 15px;
} 

/* Additional Screen Sizes - Media Quieries */

/* Width at 768px and below */
@media only screen and (max-width: 768px) {
    body 
{
    width:100%;
}
    .container {
        width: 100%;
    }
}

/* Width at 640px and below */
    @media only screen and (max-width: 640px) {
        .container {
            width: 100%; 
            margin: 20px; 
        }
    }

    